<a href="https://colab.research.google.com/github/CarlosA01/Trabajos-en-clase/blob/main/Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path = 'https://raw.githubusercontent.com/CarlosA01/Trabajos-en-clase/main/datasets/Cartwheeldata.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(path)
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,0
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [4]:
df.shape

(25, 12)

In [5]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [6]:
df.tail()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
20,21,23,M,2,Y,1,69.0,67.0,66,N,0,2
21,22,29,M,2,N,0,71.0,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.0,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [7]:
df.describe()

,ID,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000
mean,13.000000,28.240000,1.520000,0.560000,67.650000,66.260000,82.480000,0.76000,6.120000
std,7.359801,6.989754,0.509902,0.506623,4.431187,5.492647,15.058552,0.43589,2.833137
min,1.000000,22.000000,1.000000,0.000000,61.500000,57.500000,63.000000,0.00000,0.000000
25%,7.000000,24.000000,1.000000,0.000000,64.000000,62.000000,70.000000,1.00000,4.000000
50%,13.000000,26.000000,2.000000,1.000000,68.000000,66.000000,81.000000,1.00000,6.000000
75%,19.000000,29.000000,2.000000,1.000000,71.000000,71.000000,92.000000,1.00000,8.000000
max,25.000000,56.000000,2.000000,1.000000,75.000000,76.000000,115.000000,1.00000,10.000000

In [9]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [11]:
df.Age

0     56
1     26
2     33
3     39
4     27
5     24
6     28
7     22
8     29
9     33
10    30
11    28
12    25
13    23
14    31
15    26
16    26
17    27
18    23
19    24
20    23
21    29
22    25
23    26
24    23
Name: Age, dtype: int64

In [14]:
x= df.Age
type(x)

pandas.core.series.Series

In [15]:
y=df['Age']

In [16]:
type(y)

pandas.core.series.Series

In [20]:
z=df[['Age']]
type(z)

pandas.core.frame.DataFrame

In [25]:
z.describe()

             Age
count  25.000000
mean   28.240000
std     6.989754
min    22.000000
25%    24.000000
50%    26.000000
75%    29.000000
max    56.000000

In [27]:
df[['Age', 'Wingspan']].describe()

             Age   Wingspan
count  25.000000  25.000000
mean   28.240000  66.260000
std     6.989754   5.492647
min    22.000000  57.500000
25%    24.000000  62.000000
50%    26.000000  66.000000
75%    29.000000  71.000000
max    56.000000  76.000000

In [30]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [33]:
favs = ['Age', 'Gender', 'Glasses', 
       'CWDistance', 'Complete',
       'Score']

In [34]:
ndf = df[favs]

In [35]:
ndf

    Age Gender Glasses  CWDistance Complete  Score
0    56      F       Y          79        Y      7
1    26      F       Y          70        Y      8
2    33      F       Y          85        Y      0
3    39      F       N          87        Y     10
4    27      M       N          72        N      4
5    24      M       N          81        N      3
6    28      M       N         107        Y     10
7    22      F       N          98        Y      9
8    29      M       Y         106        N      5
9    33      F       Y          65        Y      8
10   30      M       Y          96        Y      6
11   28      F       Y          79        Y     10
12   25      F       Y          92        Y      6
13   23      F       N          66        Y      4
14   31      M       Y          72        Y      9
15   26      M       Y         115        Y      6
16   26      F       N          90        N     10
17   27      M       N          74        Y      5
18   23      M       Y          64        Y      3
19   24      F       Y          85        Y      8
20   23      M       Y          66        N      2
21   29      M       N         101        Y      8
22   25      M       N          82        Y      4
23   26      M       N          63        Y      5
24   23      F       Y          67        N      3

In [36]:
ndf.loc[4 , :] #Comando Loc para llamar a una sola fila

Age           27
Gender         M
Glasses        N
CWDistance    72
Complete       N
Score          4
Name: 4, dtype: object

In [37]:
ndf.loc[4:6, 'Gender' : 'CWDistance']

  Gender Glasses  CWDistance
4      M       N          72
5      M       N          81
6      M       N         107

In [38]:
ndf.loc[23:24]

    Age Gender Glasses  CWDistance Complete  Score
23   26      M       N          63        Y      5
24   23      F       Y          67        N      3

In [39]:
ndf.loc[24:]

    Age Gender Glasses  CWDistance Complete  Score
24   23      F       Y          67        N      3

In [40]:
ndf.loc[14:16,['Gender','CWDistance', 'Score']]

   Gender  CWDistance  Score
14      M          72      9
15      M         115      6
16      F          90     10

In [42]:
ndf.iloc[14:16, :] #iloc llamar filas por medio de index de la columan

    Age Gender Glasses  CWDistance Complete  Score
14   31      M       Y          72        Y      9
15   26      M       Y         115        Y      6

In [43]:
df.iloc[14:17, [2, 8, 11]]

   Gender  CWDistance  Score
14      M          72      9
15      M         115      6
16      F          90     10

In [44]:
df.Gender.unique() #Cantidad de valores categoricos

array(['F', 'M'], dtype=object)

In [45]:
df.Gender.unique().size #Número de valores categoricos

2

In [49]:
df[['Gender', 'Glasses']].value_counts()

Gender  Glasses
F       Y          8
M       N          7
        Y          6
F       N          4
dtype: int64

In [52]:
df.groupby(['Gender', 'Glasses']).size()

Gender  Glasses
F       N          4
        Y          8
M       N          7
        Y          6
dtype: int64